{
  "app": {
    "guid": "b8f13038-40fd-4017-ae7d-9706e136e0f4"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null
  },
  "security": {
    "token": "YjhmMTMwMzgtNDBmZC00MDE3LWFlN2QtOTcwNmUxMzZlMGY0",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null,
    "tokenSeleniumIdeId": "",
    "tokenCronappId": ""
  },
  "auth": {
    "type": "activeDirectory",
    "defaultDomain": "teste.net",
    "hostname": "10.2.49.225",
    "autoSignUp": true
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}